body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #eee;  
  overflow-y: scroll;
}

.ui-widget-content {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2.0em;
}

.shadow {
  box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
}

#navbar {
  background-color: #eee;
  background: #165279;
  padding: 10px;
}

#navbar a {
  color: white;
}

#dialog-form {
  display: none;
}

#dialog-form label, #dialog-form input {
  display: block;  		
}

#dialog-form fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

#dialog-form input#name {
  padding: 0.4em;
  font-family: inherit;
}

#dialog-form label {
  font-weight: bold;
}

#new-project {
  margin-top: 10px;
  margin-bottom: 10px;
}

#new-project-link {
  font-weight: bold;
}

#master {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f8f8;
}

#master li {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.1em;
}

#detail {
  background-color: #f8f8f8;
  margin-top: 20px;
  padding: 10px;
}

#detail form {
  padding: 4px;
  background-color: #eee;
}

#detail > h2 {
  text-align: center;
  margin-bottom: 10px;
}

#detail > ul {
  margin-top: 10px;
}

#detail li {
  border: 1px solid #c9c9c9;
  margin-bottom: 5px;
  padding: 5px;
}

.menu {
  margin-top: 5px;
  margin-right: 5px;
  text-align: right;
}

.menu > em {
  margin-right: 10px;
}

.task {
  font-size: 1.5em;
}